<div class="container">
  <div class="row">
    <% if current_user && @group.editable_by?(current_user) %>
      <%= link_to('Edit Group Info', edit_group_path(@group), class: "btn btn-mini") %>
      <%= link_to('New Post', new_group_post_path(@group), class: "btn btn-mini btn-primary pull-right") %>
    <% end %>
    <h3><%= @group.title %></h3>
    <p><%= @group.description %></p>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% @posts.each do |post| %>
        <div class="col-sm-2"><%= post.author.name %></div>
        <div class="col-sm-6"><%= post.content %></div>
        <div class="col-sm-4">
          <% if current_user && post.editable_by?(current_user) %>
            <%= link_to('Edit', edit_group_post_path(post.group, post), class: "btn btn-mini")%>
            <%= link_to('delete', group_post_path(post.group, post), class: "btn btn-default btn-sm", method: :delete, data: { confirm: "Are you sure?" }) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>