<div class="container">
  <div class="row">
    <% if current_user %>
      <%= link_to('Edit Group Info', edit_group_path(@group), class: "btn btn-mini") if @group.editable_by?(current_user) %>
      <% if current_user.is_member_of?(@group) %>
        <%= link_to("New Post", new_group_post_path(@group), class: "btn btn-sm btn-primary") %>
        <%= link_to("Quit Group", quit_group_path(@group), method: :post, class: "btn btn-sm") %>
      <% else %>
        <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-sm") %>
      <% end %>
    <% end %>
    <h3><%= @group.title %></h3>
    <p><%= @group.description %></p>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-12">
        <div class="col-sm-2"><%= post.author.name %></div>
        <div class="<%= current_user && post.editable_by?(current_user) ? 'col-sm-6' : 'col-sm-10' %>">
          <%= link_to(render_model_content(post), group_post_path(@group, post)) %>
        </div>
        <% if current_user && post.editable_by?(current_user) %>
          <div class="col-sm-4">
            <%= link_to('Edit', edit_group_post_path(post.group, post), class: "btn btn-mini")%>
            <%= link_to('delete', group_post_path(post.group, post), class: "btn btn-default btn-sm", method: :delete, data: { confirm: "Are you sure?" }) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
